/* Defaults */

* {
  box-sizing: border-box;
}

#app {
  margin: 0;
  font-family: Helvetica, Arial, sans-serif;
  height: 100%;
}

p {
  color: #252525;
  line-height: 1.5em;
}

h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5em;
}

h2 {
  font-size: 2em;
  font-weight: normal;
}

h1,
h2,
h3,
nav {
  font-family: "Saira Extra Condensed", sans-serif;
}

/* Responsive images */

img {
  max-width: 100%;
  height: auto;
}

/* Header logo/hiding menu */

#start-logo {
  position: absolute;
  width: 14em;
  top: 65px;
  left: calc(50% - 7em);
  z-index: 1;
}

.header {
  display: flex;
  position: fixed;
  margin: 0 4em;
  padding: 10px;
  width: calc(100vw - 8em);
  color: #fff;
  background-color: rgba(37, 37, 37, 0.8);
  border-radius: 0 0 1em 1em;
  z-index: 2;
  opacity: 0;
  transform: translateY(-4em);
  transition: opacity 0.25s, transform 0.5s;
}

header.active {
  transform: translateY(0);
  opacity: 1;
}

header .logo { 
  display: flex;
  flex-grow: 1;
  padding-top: 0.25em;
  z-index: 2;
}
header .logo img {
    height: 5em;
    margin: 10px;
    z-index: 2;
}
header nav {
  display: flex;
  background-color:  rgba(119, 173, 199, 0.8);
  border-radius: 0 0 1em 1em;
  margin-top: -10px;
  z-index: 2;
  opacity: 1;
}

.nav-item {
  height: 1.5em;
  margin: 1.75em 1.5em;
  z-index: 2;
}

#nav-name {
    font-size: 2.5em;
    font-family: fantasy;
    color: #fff;
    text-decoration: none;
    padding: 5px;
    justify-content: space-between;
    margin-left: 50px;
    margin-top: 15px;
    z-index: 2;
}

.nav-item a {
  font-size: 1.8em;
  color: #fff;
  text-decoration: none;
  padding: 5px;
  border-radius: 5px;
  z-index: 2;
}
.nav-item a:hover {
  color: #202b47;
  background-color: #fff;
  box-shadow: #d3d3d3;
  color: rgba(119, 173, 199, 0.8);
  z-index: 2;
}

/* Basic Flex Constructs */

.flex {
  display: flex;
}

@media screen and (max-width: 600px) {
  .flex {
    flex-flow: column wrap;
    align-items: center;
    padding: 0 15px;
  }
}

/* Sections */
.section {
  box-sizing: border-box;
  position: relative;
  width: 100vw;
  overflow: hidden;
}
section h2 {
  text-align: center;
  position: relative;
  margin: 60px 0;
}
section h2:after {
  content: "";
  position: absolute;
  bottom: -20px;
  width: 60px;
  height: 1px;
  background-color: #f39c12;
  left: 50%;
  margin-left: -30px;
}

#carousel {
  height: 70em;
  display: flex;
  justify-content: center;
}
#carousel #carousel-text {
  position: absolute;
  top: 45vh;
  color: #fff;
  text-shadow: 2px 2px #252525;
  z-index: 1;
  text-align: center;
  margin-top: -150px;
}

#carousel .carousel-image {
  position: absolute;
  display: block;
  margin: auto;
  min-width: 100%;
  height: 100%;
  z-index: -1;
  margin-top: -110px;
}

#carousel .carousel-image.hidden {
  opacity: 0;
}

#about {
  background-color: #f1f1f1;
  padding: 20px 20px 0 20px;
}
#about p {
  flex: 3;
}
#about #aboutmockup {
  flex: 2;
  align-self: flex-end;
}

#about img {
  display: block;
  width: 100%;
  height: auto;
}

#staff {
  height: 100%;
  color: #252525;
}
#staff .wrap {
  display: flex;
  flex-wrap: wrap;
}
#staff .staff-profile {
  flex: 0 0 100%;
}
@media (min-width: 600px) {
  #staff .staff-profile {
    flex: 0 0 50%;
  }
}
@media (min-width: 960px) {
  #staff .staff-profile {
    flex: 0 0 33%;
  }
}

#staff .staff-profile .headshot {
  height: 5em;
  width: 5em;
  margin-left: calc(50% - 2.5em);
  padding-top: 10px;
}
#staff .staff-profile .staff-name {
  text-align: center;
  font-size: 2em;
}
#staff .staff-profile .staff-bio {
  width: calc(100% - 5em);
  margin-left: 2.5em;
  text-align: center;
  font-style: italic;
}

#image-title {
    text-align: center;
}
#amSection {
    display: flex;
    margin: 0 -1em;
}
.amFlex {
    display: flex;
}
#amSection #amTandP {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    margin-right: 90px;
    margin-top: -140px;
    width: 550px;
    font-family: 'Montserrat', sans-serif;
}
#amSection #amTandP #amTitle {
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5em;

}
#amSection #amImg {
    margin-right: 4em;
    width: 235px;
    height: 235px;
    border-radius: 50%;
}

#amSection .amFlex {
    font-size: 1em;
}

#skillsSection {
   background-color: rgba(119, 173, 199, 0.8);
   margin-top: 0.5em;
   color: #fff; 
}
#skillsSection #skillsTitle {
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5em;
    padding: 0;
    margin: 0;
}
 

#skillsSection #skills {
    display: flex;
    padding: 1em;
    margin-top: 1em;
}

#skillsSection #skills .skillsFlex {
    display: flex;
}

#skillsSection #skills .skillsFlex p {
    color: #fff;
    font-size: 1em;
}


#skillsSection #skills .skillsFlex .skillsImg {
    width: 7.5em;
    height: 7.5em;
    margin-right: 1em;
    color: #fff;
}

.footer {
  width: 100vw;
  height: 6em;
  background-color: #252525;
  color: #fff;
}
